﻿.news-wrapper
{
	background-color: #333333;
	background: #262d6b;
}
.news-wrapper .news-contents-wrapper
{
	width: 400px;
	height: 100%;
}
.news-wrapper .news-contents
{
	overflow: hidden;
	position: relative;
	z-index: 998;
	height: 100%;
}
.news-wrapper .news
{
	width: 100%;
	/* height: 100%; */
	color: #6a6a6a;
	position: absolute;
	z-index: 999;
	margin-left: auto; 
	margin-right: 0;	
}
.news-wrapper .news.left
{
	width: 100%;
	/* height: 100%; */
	color: #6a6a6a;
	position: absolute;
	z-index: 999;
	margin-left: auto; 
	margin-right: 0;	
}
.news-wrapper .news.right
{
	width: 100%;
	/* height: 100%; */
	color: #6a6a6a;
	position: absolute;
	z-index: 999;
	margin-right: auto; 
	margin-left: 0;	
}
h1
{
	color: White;
	font-size: 14px;
}
.clear
{
	clear: both;
}
.circle-outer
{
	width: 56px;
	height: 56px;
	border-radius: 39px;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	text-align: center;
	vertical-align: middle;
	border: solid 8px #40474F;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	background-color: #40474F;
}
.circle
{
	width: 56px;
	height: 56px;
	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
}
.circle.alert
{
	color: #811919;
	background: -webkit-gradient(linear, left top, left bottom, from(#E95F5F), to(#C64444));
	background-image: -moz-linear-gradient(#E95F5F, #C64444);
	background-image: -webkit-linear-gradient(#E95F5F, #C64444);
	background-image: -o-linear-gradient(#E95F5F, #C64444);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E95F5F, endColorstr=#C64444);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#E95F5F, endColorstr=#C64444)";
}
.circle.info
{
	color: #566F38;
	background: -webkit-gradient(linear, left top, left bottom, from(#C4D8A6), to(#C4D8A6));
	background-image: -moz-linear-gradient(#C4D8A6, #C4D8A6);
	background-image: -webkit-linear-gradient(#C4D8A6, #C4D8A6);
	background-image: -o-linear-gradient(#C4D8A6, #C4D8A6);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#C4D8A6, endColorstr=#C4D8A6);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#C4D8A6, endColorstr=#C4D8A6)";
}
.circle.warn
{
	color: #956537;
	background: -webkit-gradient(linear, left top, left bottom, from(#FED86D), to(#FFBD4E));
	background-image: -moz-linear-gradient(#FED86D, #FFBD4E);
	background-image: -webkit-linear-gradient(#FED86D, #FFBD4E);
	background-image: -o-linear-gradient(#FED86D, #FFBD4E);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FED86D, endColorstr=#FFBD4E);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FED86D, endColorstr=#FFBD4E)";
}
.history
{
	padding-top: 14px;
	float: left;
	width: 26%;
	padding-left: 32px;
}
.description
{
	float: left;
	width: 64%;
	padding: 4px;
}
.description .detail
{
	font-size: 12px;
	overflow: hidden;
	color:#B1B1B1;
}
.elipses
{
	display: block;
	height: 20px;
	text-align: center;
	
}
h1 a, h1 a:active, h1 a:visited
{
	text-decoration: none;
	color:White;
}
h1 a:hover
{
	text-decoration: underline;
	color:White;
}
